*{
    background-color: white;
}
.cart{
    height: 10vh;
    width: auto;
}
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.itembox{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10%;
}

.buttonbox2{
    background-color: white;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.productimg{
    height: 40vh;
    width: auto;
    margin-bottom: 5%;
}
.clickedinfo{
    display: hidden;
}